<a href="https://colab.research.google.com/github/PosgradoMNA/Atividades-de-aprendizaje-SamaraGarcia/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Asigment Python for Data Science**

**Módulo1**

---

In [ ]:
#Módulo1: Learning Objectives
#Understand the available data types in Python
#Be familiar with Python expressions and variables
#Be able to perform basic operations on strings

**Yor First Program**

In [ ]:
print ("Hello Python")

Hello Python

**Types**

In [ ]:
#int -> 1,200,4000
#float -> 2.3,0.45 
#string ->"Hello world"
#Bool ->true,false

**Expressions and variables**

In [ ]:
#Describe a type of operation that computers perform, for example basic arithmetic operations.

**Write your first code **

In [ ]:
print ("Hello, Python!")

Hello, Python!

In [ ]:
import sys
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [ ]:
print("Hello Python!")#This line prints a string 
#print ("Hi")

Hello Python!

In [ ]:
# Integer

11
# Float

2.14

#string
# "Hello Python 101"

2.14

In [ ]:
# Type of 12

type(12)
# Type of 2.14

type(2.14)
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Print the type of -1

type(-1)

int

In [ ]:
# Print the type of 4

type(4)

int

In [ ]:
# Print the type of 0

type(0)

int

In [ ]:
# Print the type of 1.0

type(1.0)

float

In [ ]:
# Print the type of 0.5

type(0.5)

float

In [ ]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# Convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value false

False

False

In [ ]:
# Value true

True

True

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [ ]:
# Subtraction operation expression

50 - 60

-10

In [ ]:
# Division operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 5

5

In [ ]:
#Expression that calculates how many hours there are in 160 minute
160//60

2

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

**String Operations**

In [ ]:
A= "Thriller is the sixth studio album"
B = A.upper()
print(B)

THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
A= "Thriller is the sixth studio album"
B = A.replace("Thriller","Bad")
print(B)

Bad is the sixth studio album

In [ ]:
# Print the string

print("hello!")

hello!

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [ ]:
# Print the first element in the string
name = "Michael Jackson"
print(name[0])

M

In [ ]:
# Print the last element in the string
name = "Michael Jackson"
print(name[-1])

n

In [ ]:
# Take the slice on variable name with only index 0 to index 3
name = "Michael Jackson"
name[0:4]

'Mich'

In [ ]:
name = "Michael Jackson"
statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [ ]:
# Find the substring in the string
name = "Michael Jackson"
name.find('el')

5

In [ ]:
#Slicing the first 3 elements
d = "ABCDEFG"
print(d[0:3])

ABC

In [ ]:
#Use a stride value of 2 to print out every second character of the string
e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [ ]:
#Find the substring

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("lamb")

18

In [ ]:
#Replace the substring

In [ ]:

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

**Módulo 2**

---

In [ ]:
#Módulo2: Python and Data Structures
#List and Tuples
#Sets
#Dictionaries

**List and Tuples**

In [ ]:
#These are called compound data types and are one of the keys types of data structures in Python

In [ ]:
#Tuples
#Tuples are an ordered sequence 
#Tuples are inmutable,if we would like to manipulate a tuple, we must create a new tuple
#Tip: IN python we can use negatiev Index

Ratings =(10,9,6,5,10,8,9,6,2)
Tuple1 = ("disco",10,1.2)
tuple2 =  Tuple1+("hard rock",10)
len(tuple2)

5

In [ ]:
#Tuple nesting 
NT= (1,2,("POP","ROCK"),(3,4),("DISCO",(1,2)))
#NT[2]:("POP","ROCK")[1] ="ROCK"
#NT[2][1] = "ROCK"

**Lists**

In [ ]:
#Lists are also a popular data structure in Python.
#Lists are also an ordered sequence.
#A list is represented with square brackets

L =["Michael Jackson", 10.1,1982,"MJ",1]
L[0]

'Michael Jackson'

In [ ]:

L =["Michael Jackson", 10.1,1982,"MJ",1]
L[3:5]

['MJ', 1]

In [ ]:

L =["Michael Jackson", 10.1,1982,"MJ",1]
L1 = L+["pop",10]
L1

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [ ]:
L =["Michael Jackson", 10.1,1982,"MJ",1]
del(L[1])
L

['Michael Jackson', 1982, 'MJ', 1]

In [ ]:
#Converting string to list

"hard rock".split()

['hard', 'rock']

In [ ]:

#Cloning a list 
L =["Michael Jackson", 10.1,1982,"MJ",1]
C=L[:]
C

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
#Create yout first tuple
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [ ]:
#Print the variable of index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
#Using negative Index
tuple1[-1]

1.2

In [ ]:
#Concatenate tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#Slicing a tuple
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
#Get the len of a tuple
len(tuple2)

5

In [ ]:
#Sorting 
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
#Nested tuple
NT1 =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
print(NT1[0])
print(NT1[1])
print(NT1[2])
print(NT1[3])
print(NT1[4])

1
2
('pop', 'rock')
(3, 4)
('disco', (1, 2))

In [ ]:
NT1[2][1][0]

'r'

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
len(genres_tuple)

8

In [ ]:
#Acces to the 3erd element 
genres_tuple[3]

'hard rock'

In [ ]:
#Obtain indexes 3, 4 and 5 
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [ ]:
#Find the first two elemnts of a tuple
genres_tuple[0:2]

('pop', 'rock')

In [ ]:
#Generate a sorted List from the Tuple 
C_tuple = (-5, 1, -3)
C_sorted = sorted(C_tuple)
C_sorted

[-5, -3, 1]

In [1]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [2]:
#Print the elements on each index
L = ["Michael Jackson", 10.1, 1982]
#Using negative Index
print( L[-3]  )
#Using positive index
print( L[0]  )

Michael Jackson
Michael Jackson

In [7]:
#Slicing elements of a list
L = ["Michael Jackson", 10.1, 1982,"MJ","jj",10]
L[3:5]

['MJ', 'jj']

In [8]:
# Use extend to add 

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 12,"Hello world"])
L

['Michael Jackson', 10.2, 'pop', 12, 'Hello world']

In [9]:
#Use append to add 
L = [ "Michael Jackson", 10.2]
L.append(['pop', 12,"Hello world"])
L

['Michael Jackson', 10.2, ['pop', 12, 'Hello world']]

In [11]:
#Adding nested list
L = [ "Michael Jackson", 10.2]
L.append(['Hello','world'])
L

['Michael Jackson', 10.2, ['Hello', 'world']]

In [13]:
#Change based on the index
L= ["pop", 10, 1.2]
print('Before:', L)
L[0] = 'rock'
print('After:', L)

Before: ['pop', 10, 1.2]
After: ['rock', 10, 1.2]

In [14]:
#Delete based on index
L= ["pop", 10, 1.2]
print('Before:', L)
del (L[0])
print('After:', L)

Before: ['pop', 10, 1.2]
After: [10, 1.2]

In [15]:
#Split the list
'Hello world'.split()

['Hello', 'world']

In [16]:
#Copy by reference the list A
A = ["Hello world", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['Hello world', 10, 1.2]
B: ['Hello world', 10, 1.2]

In [17]:
#Copying by reference mantains the changes when modifying A 
A = ["Hello world", 10, 1.2]
B = A
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: Hello world
B[0]: banana

In [18]:
#Copy by value
A = ["Hello world", 10, 1.2]
B = A[:]
B

['Hello world', 10, 1.2]

In [19]:
#If you change A, B will not change because it is passed by value 
A = ["Hello world", 10, 1.2]
B = A[:]
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: Hello world
B[0]: Hello world

In [20]:
#Create a List with the following elements 1,hello, 123, true
list1 = [1, 'hello', [1, 2, 3] , True]
list1

[1, 'hello', [1, 2, 3], True]

In [21]:
#Find the second value of the list 
list1 = [1, 'hello', [1, 2, 3] , True]
list1[1]

'hello'

In [22]:
#Concatenate two lists
list1 = [1, 'a',12,30] 
list2 = [2, 1, 'd']
list1 + list2

[1, 'a', 12, 30, 2, 1, 'd']

**SETS**

In [ ]:
# Sets are a type of collection, you can input different python types.
# Sets do not record element position.
#To define it you should use curly braquets.
#The function set returns a set.
#We can represent sets using Venn diagrams

In [23]:
#Set operations add
A= { "Thriller", "Back in black", "AC/DC"}
A.add("NSYNC")
A

{'AC/DC', 'Back in black', 'NSYNC', 'Thriller'}

In [24]:
#Set operations remove
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
A.remove("NSYNC")
A

{'AC/DC', 'Back in black', 'Thriller'}

In [25]:
#Set operations in
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
"NSYNC" in A

True

In [27]:
#Set operations union
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.union(B)

{'AC/DC', 'Back in black', 'NSYNC', 'The dark side of the moon', 'Thriller'}

In [28]:
#Set operations subset
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.issubset(B)

False

In [29]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [30]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [31]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [32]:
# Create a set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [34]:
# Add duplicate element to the set
A = set(["Thriller", "Back in Black", "AC/DC", "NSYNC"])
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [38]:
# Remove element to the set
A = set(["Thriller", "Back in Black", "AC/DC", "NSYNC"])
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [39]:
# Find the intersections
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
intersection = A & B
intersection

{'Back in black', 'Thriller'}

In [40]:
# Find the difference in set1 but not set2
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.difference(B)

{'AC/DC', 'NSYNC'}

In [41]:
#Find the union
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.union(B)

{'AC/DC', 'Back in black', 'NSYNC', 'The dark side of the moon', 'Thriller'}

In [42]:
#Find if is superset
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.issuperset(B)

False

In [43]:
#Find if is subset
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.issubset(B)

False

In [44]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

In [46]:
#List A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), sum(A) == sum(B)?
#No 
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

**Diccionarios**

In [ ]:
#Dictionaries are a type of collection in Python.
#A dictionary has keys and values.These are like addresses.
#The key is analogous to the index, they are like addresses but they don’t have to be integeters
# They are usually characters
#Dictioneries are denoted with curly braquets {}

In [47]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [48]:
# Access to the value by the key

Dict[(0, 1)]

6

In [49]:
# Create a sample dictionary

dict1 = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
dict1

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [50]:
# Get value by keys

dict1['Thriller']

'1982'

In [51]:
# Get all the keys in dictionary

dict1.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [52]:
# Get all the values in dictionary

dict1.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [53]:
#Append value with key 
dict1
dict1['Graduation'] = '2007'
dict1

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [55]:
#Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
salesdict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
salesdict

{'The Bodyguard': 50, 'Back in Black': 50, 'Thriller': 65}

In [56]:
salesdict["Thriller"]

65

In [57]:
#Get all the keys
salesdict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [58]:
#Get all the values
salesdict.values()

dict_values([50, 50, 65])

**Módulo 3**

---

In [ ]:
#Módulo 3: Learning Objectives
#Conditions and Branching
#Loops
#Functions
#Objects and Classes

**Conditions and Branching**

In [ ]:
#Comparison operations compare some value or operand.
#Based on some condition they produce a Boolean.
#

In [59]:
#Example
i= 5
i>7

False

In [60]:
#Example2
i!=6

True

In [61]:
#If statement
age = 19 
if(age==19):
  print("you can enter")

you can enter

In [62]:
# Condition Equal

a = 5
a == 6

False

In [63]:
# Greater than Sign

i = 6
i > 5

True

In [64]:
# Greater than Sign

i = 2
i > 5

False

In [65]:
# Inequality Sign

i = 2
i != 6

True

In [66]:
# Inequality Sign

i = 6
i != 6

False

In [67]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [68]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [69]:
# Compare characters with ASCII

'B' > 'A'

True

In [70]:
# Compare characters with ASCII

'BA' > 'AB'

True

In [71]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [72]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [73]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [76]:
#Logical operators AND

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    

print("Do Stuff..")

Album year was in between 1980 and 1989
Do Stuff..

In [77]:
#Logical operators OR

album_year = 1980

if(album_year > 1979) or (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

print("Do Stuff..")

Album year was in between 1980 and 1989
Do Stuff..

In [78]:
#Logical operators EQUAL

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [79]:
#Exercise 1 
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [80]:
#Exercise 2
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [81]:
#Exercise 3
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

In [ ]:
#----