<a href="https://colab.research.google.com/github/PosgradoMNA/Atividades-de-aprendizaje-SamaraGarcia/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Asigment Python for Data Science**

**Módulo1**

---

In [ ]:
#Módulo1: Learning Objectives
#Understand the available data types in Python
#Be familiar with Python expressions and variables
#Be able to perform basic operations on strings

**Yor First Program**

In [ ]:
print ("Hello Python")

Hello Python

**Types**

In [ ]:
#int -> 1,200,4000
#float -> 2.3,0.45 
#string ->"Hello world"
#Bool ->true,false

**Expressions and variables**

In [ ]:
#Describe a type of operation that computers perform, for example basic arithmetic operations.

**Write your first code **

In [ ]:
print ("Hello, Python!")

Hello, Python!

In [ ]:
import sys
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [ ]:
print("Hello Python!")#This line prints a string 
#print ("Hi")

Hello Python!

In [ ]:
# Integer

11
# Float

2.14

#string
# "Hello Python 101"

2.14

In [ ]:
# Type of 12

type(12)
# Type of 2.14

type(2.14)
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Print the type of -1

type(-1)

int

In [ ]:
# Print the type of 4

type(4)

int

In [ ]:
# Print the type of 0

type(0)

int

In [ ]:
# Print the type of 1.0

type(1.0)

float

In [ ]:
# Print the type of 0.5

type(0.5)

float

In [ ]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# Convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value false

False

False

In [ ]:
# Value true

True

True

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [ ]:
# Subtraction operation expression

50 - 60

-10

In [ ]:
# Division operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 5

5

In [ ]:
#Expression that calculates how many hours there are in 160 minute
160//60

2

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

**String Operations**

In [ ]:
A= "Thriller is the sixth studio album"
B = A.upper()
print(B)

THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
A= "Thriller is the sixth studio album"
B = A.replace("Thriller","Bad")
print(B)

Bad is the sixth studio album

In [ ]:
# Print the string

print("hello!")

hello!

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [ ]:
# Print the first element in the string
name = "Michael Jackson"
print(name[0])

M

In [ ]:
# Print the last element in the string
name = "Michael Jackson"
print(name[-1])

n

In [ ]:
# Take the slice on variable name with only index 0 to index 3
name = "Michael Jackson"
name[0:4]

'Mich'

In [ ]:
name = "Michael Jackson"
statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [ ]:
# Find the substring in the string
name = "Michael Jackson"
name.find('el')

5

In [ ]:
#Slicing the first 3 elements
d = "ABCDEFG"
print(d[0:3])

ABC

In [ ]:
#Use a stride value of 2 to print out every second character of the string
e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [ ]:
#Find the substring

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("lamb")

18

In [ ]:
#Replace the substring

In [ ]:

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

**Módulo 2**

---

In [ ]:
#Módulo2: Python and Data Structures
#List and Tuples
#Sets
#Dictionaries

**List and Tuples**

In [ ]:
#These are called compound data types and are one of the keys types of data structures in Python

In [ ]:
#Tuples
#Tuples are an ordered sequence 
#Tuples are inmutable,if we would like to manipulate a tuple, we must create a new tuple
#Tip: IN python we can use negatiev Index

Ratings =(10,9,6,5,10,8,9,6,2)
Tuple1 = ("disco",10,1.2)
tuple2 =  Tuple1+("hard rock",10)
len(tuple2)

5

In [ ]:
#Tuple nesting 
NT= (1,2,("POP","ROCK"),(3,4),("DISCO",(1,2)))
#NT[2]:("POP","ROCK")[1] ="ROCK"
#NT[2][1] = "ROCK"

**Lists**

In [ ]:
#Lists are also a popular data structure in Python.
#Lists are also an ordered sequence.
#A list is represented with square brackets

L =["Michael Jackson", 10.1,1982,"MJ",1]
L[0]

'Michael Jackson'

In [ ]:

L =["Michael Jackson", 10.1,1982,"MJ",1]
L[3:5]

['MJ', 1]

In [ ]:

L =["Michael Jackson", 10.1,1982,"MJ",1]
L1 = L+["pop",10]
L1

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [ ]:
L =["Michael Jackson", 10.1,1982,"MJ",1]
del(L[1])
L

['Michael Jackson', 1982, 'MJ', 1]

In [ ]:
#Converting string to list

"hard rock".split()

['hard', 'rock']

In [ ]:

#Cloning a list 
L =["Michael Jackson", 10.1,1982,"MJ",1]
C=L[:]
C

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
#Create yout first tuple
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [ ]:
#Print the variable of index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
#Using negative Index
tuple1[-1]

1.2

In [ ]:
#Concatenate tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#Slicing a tuple
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
#Get the len of a tuple
len(tuple2)

5

In [ ]:
#Sorting 
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
#Nested tuple
NT1 =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
print(NT1[0])
print(NT1[1])
print(NT1[2])
print(NT1[3])
print(NT1[4])

1
2
('pop', 'rock')
(3, 4)
('disco', (1, 2))

In [ ]:
NT1[2][1][0]

'r'

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
len(genres_tuple)

8

In [ ]:
#Acces to the 3erd element 
genres_tuple[3]

'hard rock'

In [ ]:
#Obtain indexes 3, 4 and 5 
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [ ]:
#Find the first two elemnts of a tuple
genres_tuple[0:2]

('pop', 'rock')

In [ ]:
#Generate a sorted List from the Tuple 
C_tuple = (-5, 1, -3)
C_sorted = sorted(C_tuple)
C_sorted

[-5, -3, 1]

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
#Print the elements on each index
L = ["Michael Jackson", 10.1, 1982]
#Using negative Index
print( L[-3]  )
#Using positive index
print( L[0]  )

Michael Jackson
Michael Jackson

In [ ]:
#Slicing elements of a list
L = ["Michael Jackson", 10.1, 1982,"MJ","jj",10]
L[3:5]

['MJ', 'jj']

In [ ]:
# Use extend to add 

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 12,"Hello world"])
L

['Michael Jackson', 10.2, 'pop', 12, 'Hello world']

In [ ]:
#Use append to add 
L = [ "Michael Jackson", 10.2]
L.append(['pop', 12,"Hello world"])
L

['Michael Jackson', 10.2, ['pop', 12, 'Hello world']]

In [ ]:
#Adding nested list
L = [ "Michael Jackson", 10.2]
L.append(['Hello','world'])
L

['Michael Jackson', 10.2, ['Hello', 'world']]

In [ ]:
#Change based on the index
L= ["pop", 10, 1.2]
print('Before:', L)
L[0] = 'rock'
print('After:', L)

Before: ['pop', 10, 1.2]
After: ['rock', 10, 1.2]

In [ ]:
#Delete based on index
L= ["pop", 10, 1.2]
print('Before:', L)
del (L[0])
print('After:', L)

Before: ['pop', 10, 1.2]
After: [10, 1.2]

In [ ]:
#Split the list
'Hello world'.split()

['Hello', 'world']

In [ ]:
#Copy by reference the list A
A = ["Hello world", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['Hello world', 10, 1.2]
B: ['Hello world', 10, 1.2]

In [ ]:
#Copying by reference mantains the changes when modifying A 
A = ["Hello world", 10, 1.2]
B = A
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: Hello world
B[0]: banana

In [ ]:
#Copy by value
A = ["Hello world", 10, 1.2]
B = A[:]
B

['Hello world', 10, 1.2]

In [ ]:
#If you change A, B will not change because it is passed by value 
A = ["Hello world", 10, 1.2]
B = A[:]
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: Hello world
B[0]: Hello world

In [ ]:
#Create a List with the following elements 1,hello, 123, true
list1 = [1, 'hello', [1, 2, 3] , True]
list1

[1, 'hello', [1, 2, 3], True]

In [ ]:
#Find the second value of the list 
list1 = [1, 'hello', [1, 2, 3] , True]
list1[1]

'hello'

In [ ]:
#Concatenate two lists
list1 = [1, 'a',12,30] 
list2 = [2, 1, 'd']
list1 + list2

[1, 'a', 12, 30, 2, 1, 'd']

**SETS**

In [ ]:
# Sets are a type of collection, you can input different python types.
# Sets do not record element position.
#To define it you should use curly braquets.
#The function set returns a set.
#We can represent sets using Venn diagrams

In [ ]:
#Set operations add
A= { "Thriller", "Back in black", "AC/DC"}
A.add("NSYNC")
A

{'AC/DC', 'Back in black', 'NSYNC', 'Thriller'}

In [ ]:
#Set operations remove
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
A.remove("NSYNC")
A

{'AC/DC', 'Back in black', 'Thriller'}

In [ ]:
#Set operations in
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
"NSYNC" in A

True

In [ ]:
#Set operations union
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.union(B)

{'AC/DC', 'Back in black', 'NSYNC', 'The dark side of the moon', 'Thriller'}

In [ ]:
#Set operations subset
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.issubset(B)

False

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [ ]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [ ]:
# Create a set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Add duplicate element to the set
A = set(["Thriller", "Back in Black", "AC/DC", "NSYNC"])
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
# Remove element to the set
A = set(["Thriller", "Back in Black", "AC/DC", "NSYNC"])
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Find the intersections
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
intersection = A & B
intersection

{'Back in black', 'Thriller'}

In [ ]:
# Find the difference in set1 but not set2
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.difference(B)

{'AC/DC', 'NSYNC'}

In [ ]:
#Find the union
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.union(B)

{'AC/DC', 'Back in black', 'NSYNC', 'The dark side of the moon', 'Thriller'}

In [ ]:
#Find if is superset
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.issuperset(B)

False

In [ ]:
#Find if is subset
A= { "Thriller", "Back in black", "AC/DC", "NSYNC"}
B={"Thriller", "Back in black","The dark side of the moon"}
A.issubset(B)

False

In [ ]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

In [ ]:
#List A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), sum(A) == sum(B)?
#No 
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

**Diccionarios**

In [ ]:
#Dictionaries are a type of collection in Python.
#A dictionary has keys and values.These are like addresses.
#The key is analogous to the index, they are like addresses but they don’t have to be integeters
# They are usually characters
#Dictioneries are denoted with curly braquets {}

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
# Create a sample dictionary

dict1 = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
dict1

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
# Get value by keys

dict1['Thriller']

'1982'

In [ ]:
# Get all the keys in dictionary

dict1.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
# Get all the values in dictionary

dict1.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
#Append value with key 
dict1
dict1['Graduation'] = '2007'
dict1

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [ ]:
#Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
salesdict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
salesdict

{'The Bodyguard': 50, 'Back in Black': 50, 'Thriller': 65}

In [ ]:
salesdict["Thriller"]

65

In [ ]:
#Get all the keys
salesdict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [ ]:
#Get all the values
salesdict.values()

dict_values([50, 50, 65])

**Módulo 3**

---

In [ ]:
#Módulo 3: Learning Objectives
#Conditions and Branching
#Loops
#Functions
#Objects and Classes

**Conditions and Branching**

In [ ]:
#Comparison operations compare some value or operand.
#Based on some condition they produce a Boolean.
#

In [ ]:
#Example
i= 5
i>7

False

In [ ]:
#Example2
i!=6

True

In [ ]:
#If statement
age = 19 
if(age==19):
  print("you can enter")

you can enter

In [ ]:
# Condition Equal

a = 5
a == 6

False

In [ ]:
# Greater than Sign

i = 6
i > 5

True

In [ ]:
# Greater than Sign

i = 2
i > 5

False

In [ ]:
# Inequality Sign

i = 2
i != 6

True

In [ ]:
# Inequality Sign

i = 6
i != 6

False

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [ ]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [ ]:
# Compare characters with ASCII

'B' > 'A'

True

In [ ]:
# Compare characters with ASCII

'BA' > 'AB'

True

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [ ]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [ ]:
#Logical operators AND

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    

print("Do Stuff..")

Album year was in between 1980 and 1989
Do Stuff..

In [ ]:
#Logical operators OR

album_year = 1980

if(album_year > 1979) or (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

print("Do Stuff..")

Album year was in between 1980 and 1989
Do Stuff..

In [ ]:
#Logical operators EQUAL

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [ ]:
#Exercise 1 
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

In [ ]:
#Exercise 2
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [ ]:
#Exercise 3
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

**Loops**

In [ ]:
#Loops perform a task over and over along a range.

In [2]:
#Usimg range returns a range object in Python 3
range(5)

range(0, 5)

In [3]:
#For loop in dates list
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [5]:
#Example of loop for 
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [7]:
#for in loop 
for year in dates:  
    print(year)

1982
1980
1973

In [8]:
#Changing the elements with for in 
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [9]:
#For in iterate on both index and element values 
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
#While loop

In [10]:

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]

1982
1980

In [12]:
#Exercise 1 
for i in range(-4,5):
  print(i)

-4
-3
-2
-1
0
1
2
3
4

In [13]:
#Exercise 2
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in Genres:
  print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [15]:
#Exercise 3
list:squares=['red', 'yellow', 'green', 'purple', 'blue']
for i in squares:
  print(i)

red
yellow
green
purple
blue

In [21]:
#Exercise 4
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rat= PlayListRatings[0]
for i in range (len(PlayListRatings)):
  if (rat>=6):
    rat= PlayListRatings[i]
    print(rat)
    i =+1

10
9.5
10
8
7.5
5

In [22]:
#Exercise 5
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i= 0
for i in range (len(squares)):
  new_squares.append(squares[i])

new_squares

['orange', 'orange', 'purple', 'blue ', 'orange']

**Functions**

In [ ]:
#Functions take some input then produce some output or change.
#The function is just a piece of code you can reuse.

In [ ]:
#Sort vs Sorted
#Sorted produce a new output, a sorted list
#Sort  the list album ratings will change and no new list will be created.

In [24]:
#Making functions
def Mult(a,b):
  c=a*b
  return c
Mult(2,"Michael Jackson")

'Michael JacksonMichael Jackson'

In [26]:
def Mj():
 print("Michael Jackson")
Mj()

Michael Jackson

In [27]:
def add1(a):
  b=a+1;
  print(a,"plus1 equals",b)
  return b
add1(2)

2 plus1 equals 3

3

In [28]:
def printStuff(Stuff):
  for i,s in enumerate(Stuff):
    print("Album",i,"Rating is",s)
album = [10.0,8.5,9.5]
printStuff(album)

Album 0 Rating is 10.0
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [30]:
def ArtistName (*names):
  for name in names:
    print(name)
ArtistName("Michael J","AC/DC","Pink Floyd")

Michael J
AC/DC
Pink Floyd

In [ ]:
#Local variable: We can use it only inside a function within the scope
#Global variables: We can use it anywhere, it has no problems with scope

In [35]:
#Function 1 add 1 and store it as b
def add(a):
  
    "add 1 to a"
   
    b = a + 1
    print(a, "if you add one", b)
    return(b)
add(5)

5 if you add one 6

6

In [36]:
#Using help
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [37]:
#Call a function

add(15)

15 if you add one 16

16

In [40]:
#Define a function to multiply two numbers

def Mult(a, b):
    c = a * b
    return(c)
    
    
result = Mult(12,2)
print(result)

Mult (4,5)

24

20

In [41]:
#Using floats
Mult(2.3,4.5)

10.35

In [45]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)
y = square(3)
y

3 if you square + 1 10

10

In [46]:
square(2)

2 if you square + 1 5

5

In [48]:

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c) 
Equation(5,16)

5

In [49]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [50]:
#Predefined functions
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

len(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

8

In [51]:
#Predefined functions
sum(album_ratings)

70.0

In [52]:
#If, else statements
def PrintList(the_list):
    for element in the_list:
        print(element)
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [54]:
# Setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [55]:
#Global variables

artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [56]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [57]:
#Exercise1
def div(a, b):
    return(a/b)
div(5,1)

5.0

In [59]:
#Exercise 2
def con(a, b):
    return(a + b)
con("Hello ","World")

'Hello World'

In [60]:
#Exercise 3
con (["Hi",3],["Bye",4])

['Hi', 3, 'Bye', 4]

**Objects and classes**

In [ ]:
#Every object has the following: a type, internal representation, a set of functions called
#methods to interact with the data. An object is an instance of a particular type.
#A class or type´s methods are functions that every class or type provides