<a href="https://colab.research.google.com/github/PosgradoMNA/Atividades-de-aprendizaje-SamaraGarcia/blob/main/Assigment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Módulo 4**

---

Actividad 2 Python
Samara García González
A0123001

In [ ]:
#Módulo 4
#Reading files with open
#Writing files with open
#Loading data with Pandas
#Working with and Saving data with Pandas

**Reading files with Open**

In [ ]:
#With this open function we can obtain data from a text file for example:
# File 1 = open("/resources/data/Example2.txt, "w")
#we only need to declare the open function, followed by the path of the text file in our PC
#If we use the with statement netx to the open function, it automatically closes the file at the end of the indent
#With the statement readlines we can output every line in a list, we can usea loop to print every line

In [ ]:

#Downloading the file (I couldn´t do it like it said in the lab file but it still worked)
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"
myfile = requests.get(url)
open('downloads', 'wb').write(myfile.content)

45

In [ ]:
#Reading the file
example1 = "Example1.txt"
file1 = open(example1, "r")

In [ ]:
#Printing the name of the file 
file1.name

'Example3.txt'

In [ ]:
#Printing the mode of file write or read
file1.mode

'r'

In [ ]:
#Reading the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
#Giving space between every line of the text file
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#Returning the type of data of the file
type(FileContent)

str

In [ ]:
#Closing the file
file1.close()

In [ ]:
#Using with to automatically closing the file 

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#Now we can verufy if the file is closed 
file1.closed

True

In [ ]:
#See the content of the file
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
#If we use the index, we can read specific characters
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(5))
    print(file1.read(7))
    print(file1.read(15))

This
 is l
ine 1

This is line 2

In [ ]:
#Reading only the firts line 
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
#Reading all the lines and closing automatically 
with open(example1,"r") as file1:
        i = 0;
        for k in file1:
            print("Cicle ", str(i), ": ", k)
            i = i + 1

Cicle  0 :  This is line 1

Cicle  1 :  This is line 2

Cicle  2 :  This is line 3

In [ ]:
#Save the lines as a list 
with open(example1, "r") as file1:
    List1 = file1.readlines()
    print(List1)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [ ]:
#Print specific line
List1[2]

'This is line 3'

In [ ]:
List1[0]

'This is line 1 \n'

**Writing files with open**

---

In [ ]:
#File object 
#File1 = open ("/resources/data/Example2.txt", "w") as file 1
#As we can see here we have a w instead of a r for write 
#Read
  with open ("Example1.txt", "r")
#Write
  with open ("Example1.txt", "w")

In [ ]:
#with open("Example1.txt","r")as readfile:
  #with open("Example3.txt", "w") as writefile:
    #for line in readfiles:
      #writefile.write(line)

In [ ]:
# Write line to file example 2
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line SAM")

In [ ]:
# Read file example2

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line SAM

In [ ]:
#writing multiple lines

with open(exmp2, 'w') as writefile:
    writefile.write("Esta es la linea 1 SAM\n")
    writefile.write("Esta es la linea 2 SAM\n")

In [ ]:
#Reading the example 2
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

Esta es la linea 1 SAM
Esta es la linea 2 SAM

**Appending files**

---

In [ ]:
#Writing new line to text file 
with open('Example2.txt', 'a') as testwritefile1:
    testwritefile1.write("Esta es la linea 3\n")
    testwritefile1.write("Esta es la linea 4\n")
    testwritefile1.write("Esta es la linea 5\n")

In [ ]:
#Reading 
with open('Example2.txt', 'r') as testwritefile1:
    print(testwritefile1.read())

Esta es la linea 1 SAM
Esta es la linea 2 SAM
Esta es la linea 3
Esta es la linea 4
Esta es la linea 5
Esta es la linea 3
Esta es la linea 4
Esta es la linea 5
Esta es la linea 3
Esta es la linea 4
Esta es la linea 5

In [ ]:
#r+ : Reading and writing. Cannot truncate the file.
#w+ : Writing and reading. Truncates the file.
#a+ : Appending and Reading. Creates a new file, if none exists.

In [ ]:
#Here we can see there is no output
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [ ]:
#Reading the new line 
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line E

**Additional modes**

---

In [ ]:
#a+ : Appending and Reading. Creates a new file, if none exists.
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())
#There is no error but no response either because Most of the file methods we've looked at work in a certain location in the file. .write()  writes at a certain location in the file. .read() reads at a certain location in the file and so on.

In [ ]:
#r+ : Reading and writing. Cannot truncate the file.
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #WRITE AT THE BEGGINING OF THE TEXT FILE

In [ ]:
#w+ : Writing and reading. Truncates the file.
with open('Example2.txt', 'w') as writefile:
    writefile.write("SOBREESCRIBIENDO\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

SOBREESCRIBIENDO

In [ ]:
#Copy a file 
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

SOBREESCRIBIENDO

In [ ]:
#Exercise :

In [47]:
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('MIEMBROS   FECHA DE UNION   ACTIVOS  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('MIEMBROS   FECHA DE UNION   ACTIVOS  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
#OBTENIENDO LOS DATOS
            writeFile.seek(0)
            members = writeFile.readlines()
#QUITANDO EL HEADER
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
        
       
        
#DIRIGIENDONOS AL INICIO DEL DOCUMENTP
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
    
# SI EL MIEMBRO ES ACTIVO SE COLOCA EN UNA LISTA , SI NO , SE PONE EN LA OTRA LISTA

# EL CODIGO DE ABAJO ES PROPORCIONADO POR LA PLATAFORMA 
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "MIEMBROS No  FECHA UNIDOS  ACTIVOS  \n"
with open(memReg,'r') as readFile:
    print("MIEMBROS ACTIVOS: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("MIEMBROS INACTIVOS: \n\n")
    print(readFile.read())

MIEMBROS ACTIVOS:


MIEMBROS   FECHA DE UNION   ACTIVOS
    19797      2015-10-2    yes
    39160      2016-5-18    yes
    23874      2020-7-8     yes
    59433      2015-7-16    yes
    69176      2019-7-5     yes
    34900      2015-6-18    yes
    50030      2018-3-1     yes
    76347      2017-1-6     yes
    17111      2020-9-16    yes
    49537      2020-7-5     yes

MIEMBROS INACTIVOS:


MIEMBROS   FECHA DE UNION   ACTIVOS
    51674      2019-11-16   no
    37277      2015-5-4     no
    41973      2020-1-17    no
    17425      2017-1-9     no
    17534      2016-2-21    no
    24087      2018-11-9    no
    65182      2018-10-6    no
    33481      2020-5-19    no
    71782      2017-9-10    no
    62449      2018-10-14   no
    34680      2018-11-2    no
    97252      2017-8-22    no
    58803      2016-9-8     no

**Loading data with pandas**

---

In [ ]:
#PANDAS es una libreria popular para análisis de datos

In [ ]:
#Importando la librería 
import pandas as pd

In [ ]:
#Leyendo un archivo CSV usando pandas con el método read, csv es un formato popular para data sets
#cvs_path = "file.csv"
#df= pd.read_csv(csv_path)

In [ ]:
#Leyendo un archivo EXCEL usando pandas con el método read, csv es un formato popular para data sets
#xlsx_path = "file.xlsx"
#df= pd.read_excel(xlsx_path)

In [ ]:
#Un dataframe es un arreglo de llaves y columnas, podemos crear nuestro propio datafream a partir de listas y diccionarios

In [ ]:
songs ={"ALBUM":["THRILLER","BACK IN BLACK", "HELLO"],
        "REALESED": [1982,1980,1992],
        "LENGTH": ["00:42","00:34","00:57"]}
songs_frame = pd.DataFrame(songs)
songs_frame

           ALBUM  REALESED LENGTH
0       THRILLER      1982  00:42
1  BACK IN BLACK      1980  00:34
2          HELLO      1992  00:57

In [ ]:
#Accesasndo a elementos especificos

songs_frame [0,0]:"THRILLER"

In [ ]:
#Accesando a la primer fila de la columna ALBUM como se muestra:
songs_frame [0,"ALBUM"]:"THRILLER"

**Working and saving data with PANDAS**

---

In [ ]:
#Cuando tenemos un dataframe podemos trabajar con los datos y guardar el resultado en otros formatos

In [ ]:
#Para trabajar con los datos, pandas cuenta con diferentes métodos.

**Método unique**

---

In [ ]:
#Pandas tiene el método único para determinar los elementos únicos en una columna de un marco de datos.
df1=df['Realeaser'].unique()
#Podriamos guardar esos datos en un nuevo dataframe y posteriormente gusrdarlo en xformato
df1.to_csv('new_songes.csv')
#Existen otras funciones para guardar los archivos en otros formatos

In [35]:
#Leyendo data de un archivo CSV
# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [ ]:
#Imprimiendo las primeras filas del dataframe
df.head()

In [37]:
# Leyendo datos de excel y mostrando las primeras 5 filas
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

In [ ]:
#Obteniendo la longitud de una columna 
x = df[['Length']]
x

In [ ]:
#Obteniendo la columna como un nuevo dataframe 

x = df[['Artist']]
type(x)

In [ ]:
#Accesando a multiples columnas

y = df[['Artist','Length','Genre']]
y

In [ ]:
#Accesando al valor de la primer fila primer columna

df.iloc[0, 0]

In [ ]:
#Accesando al valor de la segunda fila primer columna

df.iloc[1, 0]

In [ ]:
# Accesando a la columna usando el nombre

df.loc[1, 'Artist']

In [ ]:
#Dividiendo el dataframe
df.iloc[0:2, 0:3]

In [ ]:
#Ejercicio1: Guardar la columna Rating como un nuevo dataframe
h= df[['Rating']]
h

In [ ]:
#Ejercicio 2: Asigna la variable h al dataframe hecho de la columna Realesed y Artist
h= df[['Rating' , 'Artist']]
h

In [ ]:
#Ejercicio3: Accesa a la segunda fila 3er columna de df
df.iloc[1, 2]

**Aquí termina el módulo 4**

---