<a href="https://colab.research.google.com/github/PosgradoMNA/Atividades-de-aprendizaje-SamaraGarcia/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Asigment Python for Data Science**

In [ ]:
#Módulo1: Learning Objectives
#Understand the available data types in Python
#Be familiar with Python expressions and variables
#Be able to perform basic operations on strings

**Yor First Program**

In [ ]:
print ("Hello Python")

Hello Python

**Types**

In [ ]:
#int -> 1,200,4000
#float -> 2.3,0.45 
#string ->"Hello world"
#Bool ->true,false

**Expressions and variables**

In [ ]:
#Describe a type of operation that computers perform, for example basic arithmetic operations.

**Write your first code **

In [ ]:
print ("Hello, Python!")

Hello, Python!

In [ ]:
import sys
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [ ]:
print("Hello Python!")#This line prints a string 
#print ("Hi")

Hello Python!

In [ ]:
# Integer

11
# Float

2.14

#string
# "Hello Python 101"

2.14

In [ ]:
# Type of 12

type(12)
# Type of 2.14

type(2.14)
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [ ]:
# Print the type of -1

type(-1)

int

In [ ]:
# Print the type of 4

type(4)

int

In [ ]:
# Print the type of 0

type(0)

int

In [ ]:
# Print the type of 1.0

type(1.0)

float

In [ ]:
# Print the type of 0.5

type(0.5)

float

In [ ]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# Convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value false

False

False

In [ ]:
# Value true

True

True

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [ ]:
# Subtraction operation expression

50 - 60

-10

In [ ]:
# Division operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 5

5

In [ ]:
#Expression that calculates how many hours there are in 160 minute
160//60

2

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

**String Operations**

In [ ]:
A= "Thriller is the sixth studio album"
B = A.upper()
print(B)

THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
A= "Thriller is the sixth studio album"
B = A.replace("Thriller","Bad")
print(B)

Bad is the sixth studio album

In [ ]:
# Print the string

print("hello!")

hello!

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [ ]:
# Print the first element in the string
name = "Michael Jackson"
print(name[0])

M

In [ ]:
# Print the last element in the string
name = "Michael Jackson"
print(name[-1])

n

In [ ]:
# Take the slice on variable name with only index 0 to index 3
name = "Michael Jackson"
name[0:4]

'Mich'

In [ ]:
name = "Michael Jackson"
statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [ ]:
# Find the substring in the string
name = "Michael Jackson"
name.find('el')

5

In [ ]:
#Slicing the first 3 elements
d = "ABCDEFG"
print(d[0:3])

ABC

In [ ]:
#Use a stride value of 2 to print out every second character of the string
e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [ ]:
#Find the substring

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("lamb")

18

In [ ]:
#Replace the substring

In [ ]:

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [ ]:
#Módulo2: Python and Data Structures
#List and Tuples
#Sets
#Dictionaries

**List and Tuples**

In [ ]:
#These are called compound data types and are one of the keys types of data structures in Python

In [ ]:
#Tuples
#Tuples are an ordered sequence 
#Tuples are inmutable,if we would like to manipulate a tuple, we must create a new tuple
#Tip: IN python we can use negatiev Index

Ratings =(10,9,6,5,10,8,9,6,2)
Tuple1 = ("disco",10,1.2)
tuple2 =  Tuple1+("hard rock",10)
len(tuple2)

5

In [ ]:
#Tuple nesting 
NT= (1,2,("POP","ROCK"),(3,4),("DISCO",(1,2)))
#NT[2]:("POP","ROCK")[1] ="ROCK"
#NT[2][1] = "ROCK"

**Lists**

In [ ]:
#Lists are also a popular data structure in Python.
#Lists are also an ordered sequence.
#A list is represented with square brackets

L =["Michael Jackson", 10.1,1982,"MJ",1]
L[0]

'Michael Jackson'

In [ ]:

L =["Michael Jackson", 10.1,1982,"MJ",1]
L[3:5]

['MJ', 1]

In [ ]:

L =["Michael Jackson", 10.1,1982,"MJ",1]
L1 = L+["pop",10]
L1

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [ ]:
L =["Michael Jackson", 10.1,1982,"MJ",1]
del(L[1])
L

['Michael Jackson', 1982, 'MJ', 1]

In [ ]:
#Converting string to list

"hard rock".split()

['hard', 'rock']

In [ ]:

#Cloning a list 
L =["Michael Jackson", 10.1,1982,"MJ",1]
C=L[:]
C

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
#Create yout first tuple
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [ ]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [ ]:
#Print the variable of index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
#Using negative Index
tuple1[-1]

1.2

In [ ]:
#Concatenate tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
#Slicing a tuple
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
#Get the len of a tuple
len(tuple2)

5

In [ ]:
#Sorting 
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
#Nested tuple
NT1 =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
print(NT1[0])
print(NT1[1])
print(NT1[2])
print(NT1[3])
print(NT1[4])

1
2
('pop', 'rock')
(3, 4)
('disco', (1, 2))

In [ ]:
NT1[2][1][0]

'r'

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
len(genres_tuple)

8

In [ ]:
#Acces to the 3erd element 
genres_tuple[3]

'hard rock'

In [ ]:
#Obtain indexes 3, 4 and 5 
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [ ]:
#Find the first two elemnts of a tuple
genres_tuple[0:2]

('pop', 'rock')

In [ ]:
#Generate a sorted List from the Tuple 
C_tuple = (-5, 1, -3)
C_sorted = sorted(C_tuple)
C_sorted

[-5, -3, 1]

Hasta aqui lab, list and tuples